:root {
    --color-player-a: #f82955;
    --color-player-b: #232e6b;
}

body {
    background-color: #1d2546;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

[data-current-player="1"] {
    --current-player-color: var(--color-player-a);
}

[data-current-player="2"] {
    --current-player-color: var(--color-player-b);
}