@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inconsolata&family=Poppins:wght@100&family=Roboto+Mono&family=Source+Code+Pro&family=Ubuntu+Mono&display=swap');

:root {
    --color-player-a: #f82955;
    --color-player-b: #232e6b;
}

body {
    background-color: #1d2546;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

[data-current-player="1"] {
    --current-player-color: var(--color-player-a);
}

[data-current-player="2"] {
    --current-player-color: var(--color-player-b);
}